
        body {
        background-color: #07090F;
        color: #FCFAF9;
        }
        input[type="submit"] {
        color: #FCFAF9;
        background-color: #586994;
        border-color: #586994;
        }
        input[type="submit"]:hover {
        color: #FDFBFB;
        background-color: #7383AB;
        border-color: #7383AB;
        }
        .parent {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(5, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
        }

        .div1 { grid-area: 1 / 1 / 4 / 2; }
        .div2 { grid-area: 1 / 2 / 4 / 5; }
        .div3 { grid-area: 1 / 5 / 4 / 6; }
        .div4 { grid-area: 4 / 1 / 6 / 4; }
        .div5 { grid-area: 4 / 4 / 6 / 6; }
