body {
    background-color: #0D1B2A;
    color: #FCFAF9;
}

.parent {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .5em;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background: #1B263B;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.div2 {
    grid-area: 2 / 1 / 4 / 2;
    background: #1B263B;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.div3 {
    grid-area: 1 / 2 / 4 / 5;
    background: #1B263B;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    padding: .5em;
}

.div4 {
    grid-area: 1 / 5 / 4 / 6;
    background: #1B263B;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.div5 {
    grid-area: 4 / 1 / 6 / 4;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border: thick solid #1B263B;
}

.div6 {
    grid-area: 4 / 5 / 6 / 6;
    background: #1B263B;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

#calendarGrid {
    background: #0D1B2A;
    border: solid thick #0D1B2A;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 6em;
    font-family: Bahnschrift;
}

#calendarGrid > div {
    background: #0D1B2A;
}


#month {
    margin-left: 30px;
    font-size: 1.4em;
    font-family: Dubai;
}

#calendarGrid > div:nth-child(odd) {
    background: #1b263b;
}

.calendarDay {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.dateNumber {
    grid-area: 1 / 7 / 3 / 9;
}


#currentTaskBar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    border: solid thick #1B263B;
    background: #0D1B2A;
    height: 5em;
    width: auto;
    padding-left:10px;
}

#dailyGeneratedSummary {
    display: flex;
    width: 100%;
    height: 2em;
    background: #0D1B2A;
    color: #FDFBFB;
    overflow: auto;
    pointer-events: none;
    padding: 10px 10px 0px 10px;
    text-align: center;
}

#dailyTaskSummary {
    padding: 0px 10px 10px 10px;
    color: #586994;
    width: 100%;
    border-bottom: thick solid #1B263B;
}

#userJournalNotes {
    display: flex;
    width: 100%;
    height: 100%;
    background: #0D1B2A;
    border: solid thick #0D1B2A;
    /*
    border-radius: 0px 0px 10px 10px;
    border-top: none;
     */
    color: #A3C9A8;
    outline: none;
    overflow: auto;
    padding: 10px 10px 0px 10px;
    resize: none;
}

#saveEntryButton {
    border-radius: 10px 10px 10px 10px;
    opacity: 70%;
    margin-top: .5em;
    background: #0D1B2A;
    outline: none;
    justify-items: center;
}

#task-modal-bg {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
}

#task-modal-content {
    width: 500px;
    height: 300px;
    color: black;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

#task-modal-notes-input {
    width: 80%;
    display: block;
    margin: 10px auto;
}

#task-modal-close {
    position: absolute;
    user-select: none;
    top: 0;
    right: 15px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

#journalEntryForm {
    border-radius: 10px 10px 10px 10px;
}

::placeholder {
    color: #A3C9A8;
}
