body {
    background-color: #0D1B2A;
    color: #FCFAF9;
}

input[type="submit"] {
    color: #FCFAF9;
    background-color: #586994;
    border-color: #586994;
}

input[type="submit"]:hover {
    color: #FDFBFB;
    background-color: #7383AB;
    border-color: #7383AB;
}

.parent {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .5em;
}

.div1 {
    grid-area: 1 / 1 / 4 / 2;
    background: #1B263B;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.div2 {
    grid-area: 1 / 2 / 4 / 5;
    background: #1B263B;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.div3 {
    grid-area: 1 / 5 / 4 / 6;
    background: #1B263B;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.div4 {
    grid-area: 4 / 1 / 6 / 4;
    background: #1B263B;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.div5 {
    grid-area: 4 / 5 / 6 / 6;
    background: #1B263B;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    overflow-y: scroll;
}

#calendarGrid {
    border: solid thick #0D1B2A;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 6em;
    font-family: Bahnschrift;

}

#calendarGrid > div {
   /* background: #eee;
    */
    padding: 1em;
    background: #0D1B2A;
}

#month {
    margin-left: 30px;
    font-size: 1.4em;
}

#calendarGrid > div:nth-child(odd) {
    /* background: #ddd;
     */
    background: #1B263B;
}

.calendarDay {
    display: grid;
    justify-items: end;
}

.btn-primary {
    color: #E0E1DD;
    background-color: #415A77;
    border-color: #415A77;
}

.btn-primary:hover {
    color: #E0E1DD;
    background-color: #778DA9;
    border-color: #778DA9;
}