    .calendarGrid{
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 7em;
    }
    .calendarGrid > div{
        background:#eee;
        padding:1em;
        border:#333 1px solid;

    }
    .calendarGrid > div:nth-child(odd){
        background:#ddd;
    }
    .calendarDay{
        display:grid;
        justify-items:end;
    }