body {
    background-color: #3658a9 ;
}

section {
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: auto;

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #fbf7f4;
    width: 50vh;
}

.btn-primary {
    border: medium solid #3658a9;
    border-radius: 10px 10px 10px 10px;
    color: #3658a9;
    background-color: #fbf7f4;
    border-color: #fbf7f4;
}

.btn-primary:hover {
    border: medium solid #87bbd5;
    color: #87bbd5;
    background-color: #fbf7f4;
    border-color: #fbf7f4;
}
