body {
    background-color: #0D1B2A ;
}

section {
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: auto;

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #E0E1DD;
    width: 50vh;
}

.btn-primary {
    color: #E0E1DD;
    background-color: #415A77;
    border-color: #415A77;
}

.btn-primary:hover {
    color: #E0E1DD;
    background-color: #778DA9;
    border-color: #778DA9;
}
