/* DEFAULT COLORS*/ 
$lightshade : #fbf7f4;
$lightaccent : #a698da;
$maincolor : #87bbd5;
$darkaccent : #9a7092;
$darkshade : #3658a9;

$boxshadow :
0  5px 10px rgba(154,160,185,0.05),
0 15px 40px rgba(166,173,201,0.2);

$brdr : 6px 6px 6px 6px;
$btnbrder : 10px 10px 10px 10px;

$screen-medium: 820px;
$screen-large: 1224px;

@mixin screen-medium {
  @media only screen and (min-width: $screen-medium) {
    @content;
  }
}

@mixin screen-large {
  @media only screen and (min-width: $screen-large) {
    @content;
  }
}

:root {
  font-size: 4vw;
}

html, body {
  background-color:$darkshade;
  font-family: 'Poppins', sans-serif;
  color:$darkshade;
  margin : 0;
}

.parent {
  display:grid;
  max-width: 100%;
  grid-gap: .85em;
  padding: 0.8em;
  height: 200vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.3fr 0.91fr 0.8fr .8fr .8fr;
  grid-template-areas: 
        "calendar"
        "currentTaskBar"
        "taskList"
        "eventList"
        "journal"
        "div7";
}

.button {
  border-radius: $btnbrder;
  border: medium solid $maincolor;
  color: $darkshade;
  background-color: $lightshade;
}

/* NAV BAR */

#nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color: $lightshade;
  box-shadow: $boxshadow;
  border-radius: 0 0 2px 2px;
  height: 2em;
}

#logoutForm {
  margin-top: 0.1em;
  margin-right: 0.2em;
  background-color: $lightshade;
  color: $darkshade;
}

#logoutSubmit {
  font-weight: bold;
  outline: none;
  border: none;
  background-color: $lightshade;
  color: $darkshade;
}

#titleContainer {
  width: fit-content;
  padding-left: 0.5em;
  padding-top: 0.1em;
}

#titleDaily {
  color: $maincolor;
}

/* MEDIA QUERIES */

@include screen-large() {
  
  .parent {
    font-size: 3vh;
    height: (97vh);
    grid-gap: .5em;
    padding: 1.5vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
          "div7 calendar calendar calendar currentTaskBar"
          "div7 calendar calendar calendar taskList"
          "div7 calendar calendar calendar taskList"
          "div7 journal journal journal eventList"
          "div7 journal journal journal eventList";
    }

  #nav {
    display: none;
  }

  #div7 {
    grid-area: div7;
  }

  #calendar {
    display: grid;
    grid-area: calendar;
  }

  #currentTaskBar {
    grid-area: currentTaskBar;
  }

  #taskList {
    grid-area: taskList;
  }

  #eventList {
    grid-area: eventList;
  }

  #journal {
    grid-area: journal;
    height: 91%;
    align-self: end;
  }

  #calendarGrid {
    width: 85%;
    justify-self: center;
    grid-auto-flow: row;
  }
}

#calendar {
  background-color: $darkshade;
  grid-area: calendar;
  border-radius: $brdr;
}

/* CURRENT TASK BAR */

#currentTaskBar {
  position: relative;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightshade;
  grid-area: currentTaskBar;
  border-radius: $brdr;
  box-shadow: $boxshadow;
}

#currentTaskTitle {
  position: absolute;
  top: 0;
  margin-top: 0.6em;
}

#noCurrentTask {
  background: $lightaccent;
  color: $lightshade;
  width: 5em;
  padding: 0.5em;
  margin: 0 auto;
  border-radius: $brdr;
}

#selectCurrentTask {
  width: 50%;
}

.selectBox {
  width: 90%;
  margin: 3em 1em 0.3em;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.selectBox .optionsContainer {
  background: $lightaccent;
  color: $lightshade;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: $brdr;
  overflow: hidden;

  order: 1;
}

#selectedTask {
  background-color: $lightaccent;
  border-radius: $brdr;
  margin-bottom: 8px;
  color: #fbf7f4;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  order: 0;
}

#selectedTask::after {
  content: "";
  background: url("/images/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 1.75em;
  right: 0.2em;
  top: 0.65em;

  transition: all 0.4s;
}

.selectBox .optionsContainer.active {
  max-height: 12em;
  opacity: 1;
  overflow-y: scroll;
}

.selectBox .optionsContainer.active + #selectedTask::after {
  transition: rotateX(180deg);
}

.selectBox .optionsContainer::-webkit-scrollbar {
  width: 8px;
  background-color: $darkaccent;
  border-left: medium solid $lightshade;
  border-radius: 0 6px 6px 0;
}

.selectBox .optionsContainer::-webkit-scrollbar-thumb {
  background-color: $lightaccent;
  border-left: medium solid $lightshade;
  border-radius: 0 6px 6px 0;
}

.selectBox .option,
#selectedTask {
  padding: 12px 24px;
  cursor: pointer;
}

.option { 
  list-style-type: none;
}

.option label {
  cursor: pointer;
}

.optionsContainer .option:hover {
  background: $darkaccent;
}

.selectBox .option .optionRadio {
  display: none;
}

/* TASK LIST */

#taskList {
  position: relative;
  background-color: $lightshade;
  grid-area: taskList;
  border-radius: $brdr;
  box-shadow: $boxshadow;
  font-weight: bold;
  text-align: center;
}

.listHeader {
  height: 2em;
}

.listTitle {
  margin-top: 0.6em;
}

#taskListContents {
  overflow-y: scroll;
  height: 14em;
}

#tasklistFooter  {
  height: 3em;
}

#newTaskButton {
  position: absolute;
  font-size: 0.85em;
  bottom: 0;
  left: 0;
  padding: 0.3em;
  margin: 0.5em;
  background-color: $lightshade;
  color: $darkshade;
  border: medium solid $darkshade;
  border-radius: $btnbrder;
  text-decoration: none;
}

#finishTaskButton {
  position: absolute;
  font-size: 0.85em;
  bottom: 0;
  left: 6.5em;
  padding: 0.3em;
  margin: 0.5em;
  background-color: $lightshade;
  color: $darkshade;
  border: medium solid $darkshade;
  border-radius: $btnbrder;
  text-decoration: none;
}

/* EVENT LIST */

#eventList {
  position: relative;
  background-color: $lightshade;
  grid-area: eventList;
  border-radius: $brdr;
  box-shadow: $boxshadow;
  font-weight: bold;
  text-align: center;
}

#eventListContents {
  height: 11.7em;
  overflow-y: scroll;
}

#eventListFooter {
  height: 3.2em;
}

#newEventButton {
  position: absolute;
  font-size: 0.85em;
  bottom: 0;
  left: 0;
  padding: 0.3em;
  margin: 0.5em;
  background-color: $lightshade;
  color: $darkshade;
  border: medium solid $darkshade;
  border-radius: $btnbrder;
  text-decoration: none;
}

/* JOURNAL */

#journal {
  background-color: $darkshade;
  grid-area: journal;
  border-radius: $brdr;
  border: thick solid $lightshade;
  box-shadow: $boxshadow;
  overflow-y: hidden;
}

#journalEntryContainer {
  height: 11.5em;
  overflow-y: scroll;
}

#journalEntryFooter {
  height: 2.7em;
}

#saveEntryButton {
  float: right;
  padding: 0.5em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  background-color: $darkshade;
  color: $lightshade;
  border-color: $lightshade;
  border-radius: $btnbrder;
  opacity: 80%;
}

#dailyGeneratedSummary {
  padding: 0.3em;
}

#dailyTaskSummary {
  font-size: 0.92em;
  padding: 0.3em 0 0 0.5em;
  word-break: break-word;
  color: $lightaccent;

}

#userJournalNotes {
  font-family: 'Poppins', sans-serif;
  display: block;
  width: 97%;
  background-color: $darkshade;
  color: $maincolor;
  outline: none;
  overflow: auto;
  word-break: break-word;
  resize: none;
  border-width: 0;
  padding: 0.3em 0 0 0.5em;
}

::placeholder {
  color: $maincolor;
}

/* DIV 7 */

#div7 {
  background-color: $lightshade;
  grid-area: div7;
  border-radius: $brdr;
  box-shadow: $boxshadow;
}

/* CALENDAR */

#calendarGrid {
  display:grid;
  margin: 0;
  border-radius: $brdr;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 3.5em;
  border: solid thick $lightshade;
  background-color: $lightshade;
  box-shadow: $boxshadow;
}

#calendarGrid > div {
  background-color: $maincolor;
  border: thin solid $lightshade;
}

#calendarGrid > div:nth-child(odd) {
  background: $darkshade;
  border: thin solid $lightshade;
}

#dateDisplay {
  font-weight: bold;
  background-color: $lightshade;
  border-radius: $brdr;
  padding: 5px;
  margin-bottom: 0.6em;
}

/* MODAL */
#task-modal-bg {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: none;
}

#task-modal-content {
  width: 20em;
  height: 11.5em;
  color: $darkshade;
  font-weight: bold;
  background-color: $lightshade;
  border-radius: $brdr;
  text-align: center;
  padding: 1em;
  position: relative;
}

#task-modal-notes-input {
  font-family: 'Poppins', sans-serif;
  width: 90%;
  display: block;
  margin: 10px auto;
  resize: none;
  outline: none;
  color: $darkshade;
  border: medium solid $darkshade;
}

#task-modal-close {
  position: absolute;
  color: $darkshade;
  user-select: none;
  bottom: 5.4em;
  right: 0.1em;
  font-size: 2em;
  transform: rotate(45deg);
  cursor: pointer;
}

#updateTaskButton {
  font-weight: bold;
  font-size: 0.85em;
  padding: 0.3em;
  background-color: $lightshade;
  color: $darkshade;
  border: medium solid $darkshade;
  border-radius: $btnbrder;
  text-decoration: none;
}