$darkshade: #1b1b1b;
$lightshade : #0d0d0e;
$lightaccent : #4a94b7;
$text: #e1e2ef;
$maincolor : #87bbd5;
$darkaccent : #9a7092;

$boxshadow :
-3px 3px 11px -1px RGB(15 15 15 / 60%);

$brdr : 3px;
$btnbrder : 2px;

$screen-medium: 820px;
$screen-large: 1224px;

@mixin screen-medium {
  @media only screen and (min-width: $screen-medium) {
    @content;
  }
}

@mixin screen-large {
  @media only screen and (min-width: $screen-large) {
    @content;
  }
}

:root {
  font-size: 4vw;
}

html, body {
  background-color:$darkshade;
  font-family: 'Poppins', sans-serif;
  color:$text;
  margin : 0;
}

.parent {
  display:grid;
  max-width: 100%;
  padding: 0.8em;
  height: 110vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 50vh;
  grid-template-areas: 
        "calendar"
        "currentgoalBar"
        "contentContainer";
}

.button {
    border: none;
    font-size: 0.85em;
    padding: 0.7em;
    margin: 0.5em;
    background-color: $darkshade;
    color: $text;
    border-radius: $btnbrder;
    text-decoration: none;
}

/* NAV BAR */

#nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color: $lightshade;
  box-shadow: $boxshadow;
  border-radius: 0 0 2px 2px;
  height: 5vh;
}

#logoutForm {
  display: flex;
  align-items: center;
  margin-top: 0.1em;
  margin-right: 0.2em;
  background-color: $lightshade;
  color: $text;
}

#logoutSubmit {
  font-size: 0.7em;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: $lightshade;
  color: $text;
}

#titleContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-left: 1em;
  padding-top: 0.1em;
}


#titleDaily {
  color: $text;
}

/* MEDIA QUERIES */

@include screen-large() {
  
  .parent {
    font-size: 3vh;
    height: (97vh);
    grid-gap: .5em;
    padding: 1.5vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
          "calendar calendar calendar currentgoalBar"
          "calendar calendar calendar"
          "calendar calendar calendar"
          "journal journal journal"
          "journal journal journal";
    }

  #nav {
    display: none;
  }

  #calendar {
    display: grid;
    grid-area: calendar;
  }

  #currentGoalBar {
    grid-area: currentgoalBar;
  }

  #journal {
    grid-area: journal;
    height: 91%;
    align-self: end;
  }

  #calendarGrid {
    width: 85%;
    border-radius: 0;
    justify-self: center;
    grid-auto-flow: row;
  }
}

#calendar {
  background-color: $darkshade;
  grid-area: calendar;
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
}

/* CURRENT GOAL BAR */

#currentGoalBar {
  margin-bottom: 1em;
  border-top: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $lightshade;
  grid-area: currentgoalBar;
  border-radius: 0 0 3px 3px;
  box-shadow: $boxshadow;
}

#finishGoalButton {
  font-size: 0.85em;
  padding: 0.5em;
  margin: 0.5em;
  background-color: $darkshade;
  color: $text;
  border-radius: $btnbrder;
  text-decoration: none;
}

/* CONTENT CONTAINER */
#contentContainer {
  grid-area: contentContainer;
  box-shadow: $boxshadow;
  height: 50vh;
}

/* JOURNAL */
#journal {
  position: relative;
  height: 40vh;
  background-color: $darkshade;
  border-radius: 6px;
}

#navTabs {
  border-top: 0;
  border-radius: 4px 4px 0 0;
  height: 8vh;
}

#tabs {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: space-around;
}


#tabs > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 3px 3px 0 0;
  background-color: $lightshade;

}

#tab1 {
  opacity: 1;
  height: 4vh;
}

#tab2 {
  border: thin solid $darkshade;
  border-bottom: 0;
  border-radius: 3px;
  opacity: 0.5;
}

#tab3 {
  opacity: 0.5;
}

#navFooter {
  height: 4vh;
  background-color: #363738;
}

#dailyGeneratedSummary {
  height: 20%;
  padding: 0 0.3em 0 0.3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  height: 6vh;
}

#journalEntryForm {
  height: 35vh;
  position: relative;
}

#userJournalNotes {
  width: 95%;
  height: 95%;
  margin: 0.2em 0.5em 0.5em;
  padding: 0;
  border: none;
  resize: none;
  overflow-y: scroll;
  outline: none;
  background-color: $darkshade;
  color: $lightaccent;
}

#userJournalNotes::-webkit-scrollbar {
  display: none !important
}

#saveEntryButton {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.5em;
  padding: 0.25em;
  background-color: $lightshade;
  color: $text;
  border-color: $lightshade;
  border-radius: $btnbrder;
  opacity: 0.8;
}

::placeholder {
  color: gray;
}

/* CALENDAR */

#calendarGrid {
  display:grid;
  margin: 0;
  border-radius: $brdr;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 3.5em;
  border: solid thick $lightshade;
  background-color: $lightshade;
  box-shadow: $boxshadow;
}

#calendarGrid > div {
  background: #363738;
  border: thin solid $lightshade;
}


#calendarHead {
  font-size: 1.1em;
  border-radius: $brdr;
  padding: 0.5em;
}

#yearDesc {
  display: flex;
  font-size: 0.9em;
  font-style: italic;
  padding-left: 1.5em;
}

#yearDescP2 {
  width: 5em;
  color: #9a7092;
  font-weight: bold;
  min-width: 5em;
  width: fit-content;
  max-width: 17em;
  border-bottom: solid thin $darkaccent;
  margin-left: 0.6em;
  margin-bottom: 0.2em;
}

#day1 {
  border-radius: 3px 0 0 0;
}

#day7 {
  border-radius: 0 3px 0 0;
}

#day28 {
  border-radius: 0 0 3px 0;
}

#day29 {
  border-radius: 0 0 0 3px;
}

#day31 {
  border-radius: 0 0 3px 0;
}

/* GOAL LIST */
#goalList {
  display: none;
  overflow-y: scroll;
  height: 40vh;
}

/* EVENT LIST */
#eventList {
  display: none;
  height: 40vh;
  overflow-y: scroll;
}


/* MODAL */
#goalForm {
  display: none;
  flex-direction: column;
  align-items: center;
}

#eventForm {
  display: none;
  flex-direction: column;
  align-items: center;
}

.formFieldSet {
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  width: 30%;
  font-weight: normal;
}

.formTitle {
  margin-bottom: 1.5em;
  font-size: 1.2em;
}

.formFieldHead {
  text-align: start;
  font-size: 0.8em;
}

.formField {
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
}


.formFieldInput {
  background-color: #363738;
  padding: 0.5em;
  border: 0;
  color: #e1e2ef;
}

.submitForm {
  margin: 0;
  width: 6em;
}

#goal-modal-bg {
  position: absolute;
  top: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#goal-modal-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: fit-content;
  color: $text;
  font-weight: bold;
  background-color: $lightshade;
  border-radius: $brdr;
  text-align: center;
  padding: 0 1em 1em 1em;
  position: relative;
}

#goal-modal-notes-input {
  font-family: 'Poppins', sans-serif;
  width: 90%;
  display: block;
  margin: 10px auto;
  resize: none;
  outline: none;
  color: $text;
  border: medium solid $darkshade;
}

#goal-modal-close {
  align-self: flex-end;
  color: $text;
  user-select: none;
  font-size: 2em;
  transform: rotate(45deg);
  cursor: pointer;
}

#updateGoalButton {
  font-weight: bold;
  font-size: 0.85em;
  padding: 0.3em;
  background-color: $lightshade;
  color: $text;
  border: medium solid $darkshade;
  border-radius: $btnbrder;
  text-decoration: none;
}