/* DEFAULT COLORS*/
/*
$lightshade : #fbf7f4;
$lightaccent : #a698da;
$maincolor : #87bbd5;
$darkaccent : #9a7092;
$darkshade : #3658a9;
*/
:root {
  font-size: 4vw;
}

html, body {
  background-color: #1b1b1b;
  font-family: 'Poppins', sans-serif;
  color: #e1e2ef;
  margin: 0;
}

.parent {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  grid-gap: .85em;
  padding: 0.8em;
  height: 200vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 0.3fr 0.91fr 0.8fr .8fr .8fr;
      grid-template-rows: auto 0.3fr 0.91fr 0.8fr .8fr .8fr;
      grid-template-areas: "calendar" "currentTaskBar" "taskList" "eventList" "journal" "div7";
}

.button {
  border: medium solid #87bbd5;
  color: #e1e2ef;
  background-color: #1b1b1b;
}

/* NAV BAR */
#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  background-color: #0d0d0e;
  -webkit-box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
          box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
  border-radius: 0 0 2px 2px;
  height: 2em;
}

#logoutForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.1em;
  margin-right: 0.2em;
  background-color: #0d0d0e;
  color: #e1e2ef;
}

#logoutSubmit {
  font-size: 0.7em;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #0d0d0e;
  color: #e1e2ef;
}

#titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 1em;
  padding-top: 0.1em;
}

#titleDaily {
  color: #e1e2ef;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1224px) {
  .parent {
    font-size: 3vh;
    height: 97vh;
    grid-gap: .5em;
    padding: 1.5vh;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "div7 calendar calendar calendar currentTaskBar" "div7 calendar calendar calendar taskList" "div7 calendar calendar calendar taskList" "div7 journal journal journal eventList" "div7 journal journal journal eventList";
  }
  #nav {
    display: none;
  }
  #div7 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    grid-area: div7;
  }
  #calendar {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: calendar;
  }
  #currentTaskBar {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: currentTaskBar;
  }
  #taskList {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    grid-area: taskList;
  }
  #eventList {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    grid-area: eventList;
  }
  #journal {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: journal;
    height: 91%;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  #calendarGrid {
    width: 85%;
    -ms-grid-column-align: center;
        justify-self: center;
    grid-auto-flow: row;
  }
}

#calendar {
  background-color: #1b1b1b;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: calendar;
  border-radius: 3px;
}

/* CURRENT TASK BAR */
#currentTaskBar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0d0d0e;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: currentTaskBar;
  border-radius: 3px;
  -webkit-box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
          box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
}

#currentTaskTitle {
  position: absolute;
  top: 0;
  margin-top: 0.6em;
}

#noCurrentTask {
  background: #1b1b1b;
  color: #4a94b7;
  font-weight: bold;
  width: 95%;
  padding: 0.5em;
  margin: 0 auto;
  margin-bottom: 0.25em;
  border-radius: 3px;
}

#selectCurrentTask {
  width: 50%;
}

.selectBox {
  width: 95%;
  margin: 3em 0.5em 2.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.selectBox .optionsContainer {
  background: #4a94b7;
  color: #e1e2ef;
  max-height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#selectedTask {
  background-color: #1b1b1b;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #4a94b7;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

#selectedTask::after {
  content: "";
  background: url("/images/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 1.75em;
  right: 0.2em;
  top: 0.65em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.selectBox .optionsContainer.active {
  max-height: 12em;
  opacity: 1;
  overflow-y: scroll;
}

.selectBox .optionsContainer.active + #selectedTask::after {
  -webkit-transition: rotateX(180deg);
  transition: rotateX(180deg);
}

.selectBox .optionsContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #9a7092;
  border-left: medium solid #0d0d0e;
  border-radius: 0 6px 6px 0;
}

.selectBox .optionsContainer::-webkit-scrollbar-thumb {
  background-color: #4a94b7;
  border-left: medium solid #0d0d0e;
  border-radius: 0 6px 6px 0;
}

.selectBox .option,
#selectedTask {
  padding: 12px 24px;
  cursor: pointer;
}

.option {
  list-style-type: none;
}

.option label {
  cursor: pointer;
}

.optionsContainer .option:hover {
  background: #9a7092;
}

.selectBox .option .optionRadio {
  display: none;
}

#changeTaskButton {
  position: absolute;
  font-size: 0.8em;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #1b1b1b;
  border: none;
  color: #e1e2ef;
  border-radius: 2px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* TASK LIST */
#taskList {
  height: 100%;
  position: relative;
  background-color: #0d0d0e;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: taskList;
  border-radius: 3px;
  -webkit-box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
          box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
  text-align: center;
}

.listTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 15%;
}

.listContents {
  overflow-y: scroll;
  height: 65%;
}

.listFooter {
  height: 20%;
}

#newTaskButton {
  position: absolute;
  font-size: 0.85em;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #1b1b1b;
  color: #e1e2ef;
  border-radius: 2px;
  text-decoration: none;
}

#finishTaskButton {
  position: absolute;
  font-size: 0.85em;
  bottom: 0;
  left: 6.5em;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #1b1b1b;
  color: #e1e2ef;
  border-radius: 2px;
  text-decoration: none;
}

/* EVENT LIST */
#eventList {
  position: relative;
  background-color: #0d0d0e;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: eventList;
  border-radius: 3px;
  -webkit-box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
          box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
  text-align: center;
}

#newEventButton {
  position: absolute;
  font-size: 0.85em;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #1b1b1b;
  color: #e1e2ef;
  border-radius: 2px;
  text-decoration: none;
}

/* JOURNAL */
#journal {
  position: relative;
  background-color: #1b1b1b;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: journal;
  border-radius: 3px;
  border: thick solid #0d0d0e;
  -webkit-box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
          box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
}

#dailyGeneratedSummary {
  height: 20%;
  padding: 0 0.3em 0 0.3em;
}

#journalEntryForm {
  height: 80%;
  position: relative;
}

#userJournalNotes {
  width: 95%;
  height: 95%;
  margin: 0.2em 0.5em 0.5em;
  padding: 0;
  border: none;
  resize: none;
  overflow-y: scroll;
  outline: none;
  background-color: #1b1b1b;
  color: #4a94b7;
}

#userJournalNotes::-webkit-scrollbar {
  display: none !important;
}

#saveEntryButton {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.5em;
  padding: 0.25em;
  background-color: #0d0d0e;
  color: #e1e2ef;
  border-color: #0d0d0e;
  border-radius: 2px;
  opacity: 0.8;
}

::-webkit-input-placeholder {
  color: gray;
}

:-ms-input-placeholder {
  color: gray;
}

::-ms-input-placeholder {
  color: gray;
}

::placeholder {
  color: gray;
}

/* DIV 7 */
#div7 {
  background-color: #0d0d0e;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: div7;
  border-radius: 3px;
  -webkit-box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
          box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
}

/* CALENDAR */
#calendarGrid {
  display: -ms-grid;
  display: grid;
  margin: 0;
  border-radius: 3px;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 3.5em;
  border: solid thick #0d0d0e;
  background-color: #0d0d0e;
  -webkit-box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
          box-shadow: -3px 3px 11px -1px RGB(15 15 15/60%);
}

#calendarGrid > div {
  background: #363738;
  border: thin solid #0d0d0e;
}

#calendarGrid > div:nth-child(odd) {
  background: #1b1b1b;
  border: thin solid #0d0d0e;
}

#dateDisplay {
  font-size: 1.1em;
  background-color: #0d0d0e;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 0.6em;
}

#day1 {
  border-radius: 3px 0 0 0;
}

#day7 {
  border-radius: 0 3px 0 0;
}

#day28 {
  border-radius: 0 0 3px 0;
}

#day29 {
  border-radius: 0 0 0 3px;
}

#day31 {
  border-radius: 0 0 3px 0;
}

/* MODAL */
#task-modal-bg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: none;
}

#task-modal-content {
  width: 20em;
  height: 11.5em;
  color: #e1e2ef;
  font-weight: bold;
  background-color: #0d0d0e;
  border-radius: 3px;
  text-align: center;
  padding: 1em;
  position: relative;
}

#task-modal-notes-input {
  font-family: 'Poppins', sans-serif;
  width: 90%;
  display: block;
  margin: 10px auto;
  resize: none;
  outline: none;
  color: #e1e2ef;
  border: medium solid #1b1b1b;
}

#task-modal-close {
  position: absolute;
  color: #e1e2ef;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  bottom: 5.4em;
  right: 0.1em;
  font-size: 2em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

#updateTaskButton {
  font-weight: bold;
  font-size: 0.85em;
  padding: 0.3em;
  background-color: #0d0d0e;
  color: #e1e2ef;
  border: medium solid #1b1b1b;
  border-radius: 2px;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */