<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">

    <link href="css/calendar.css" rel="stylesheet" type="text/css">

    <script crossorigin="anonymous"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

</head>

<body>

    <div style="display:none;" th:text="${daysInMonth}" id="daysInMonth"></div>

    <div style="display:none;" th:text="${dayOfMonth}" id="dayOfMonth"></div>

    <div style="display:none;" th:text="${userLocalDate}" id="userLocalDate"></div>

    <div th:text="${month}" id="month"></div>

    <br>

    <div class="calendarGrid" id="calendar">
        <div class="calendarDay" id="day1">
            <div></div>
        </div>
        <div class="calendarDay" id="day2">
            <div></div>
        </div>
        <div class="calendarDay" id="day3">
            <div></div>
        </div>
        <div class="calendarDay" id="day4">
            <div></div>
        </div>
        <div class="calendarDay" id="day5">
            <div></div>
        </div>
        <div class="calendarDay" id="day6">
            <div></div>
        </div>
        <div class="calendarDay" id="day7">
            <div></div>
        </div>
        <div class="calendarDay" id="day8">
            <div></div>
        </div>
        <div class="calendarDay" id="day9">
            <div></div>
        </div>
        <div class="calendarDay" id="day10">
            <div></div>
        </div>
        <div class="calendarDay" id="day11">
            <div></div>
        </div>
        <div class="calendarDay" id="day12">
            <div></div>
        </div>
        <div class="calendarDay" id="day13">
            <div></div>
        </div>
        <div class="calendarDay" id="day14">
            <div></div>
        </div>
        <div class="calendarDay" id="day15">
            <div></div>
        </div>
        <div class="calendarDay" id="day16">
            <div></div>
        </div>
        <div class="calendarDay" id="day17">
            <div></div>
        </div>
        <div class="calendarDay" id="day18">
            <div></div>
        </div>
        <div class="calendarDay" id="day19">
            <div></div>
        </div>
        <div class="calendarDay" id="day20">
            <div></div>
        </div>
        <div class="calendarDay" id="day21">
            <div></div>
        </div>
        <div class="calendarDay" id="day22">
            <div></div>
        </div>
        <div class="calendarDay" id="day23">
            <div></div>
        </div>
        <div class="calendarDay" id="day24">
            <div></div>
        </div>
        <div class="calendarDay" id="day25">
            <div></div>
        </div>
        <div class="calendarDay" id="day26">
            <div></div>
        </div>
        <div class="calendarDay" id="day27">
            <div></div>
        </div>
        <div class="calendarDay" id="day28">
            <div></div>
        </div>
        <div class="calendarDay" id="day29">
            <div></div>
        </div>
        <div class="calendarDay" id="day30">
            <div></div>
        </div>
        <div class="calendarDay" id="day31">
            <div></div>
        </div>
        <div class="calendarDay" id="day32">
            <div></div>
        </div>
        <div class="calendarDay" id="day33">
            <div></div>
        </div>
        <div class="calendarDay" id="day34">
            <div></div>
        </div>
        <div class="calendarDay" id="day35">
            <div></div>
        </div>

    </div>

    <script src="js/js.js"></script>

</body>

</html>
