<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="index.css" rel="stylesheet" type="text/css">

    <script src="js/calendar.js"></script>

</head>

<body>

<div class="parent">

    <div class="div1">

        <div class="var" id="userEvents" style="display:none;" th:text="${userEvents}"></div>
        <div class="var" id="userTasks" style="display:none;" th:text="${userTasks}"></div>


        <script th:inline="javascript">
            var userTasks = [[${userTasks}]];
        </script>

        <div class="container">
            <form id="logoutForm" method="post" th:action="@{/logout}">
                <input class="btn btn-primary" type="submit" value="Logout"/>
            </form>
        </div>

    </div>

    <div class="div2">
    </div>

    <div class="div3" id="calendar">

        <div class="var" id="daysInMonth" style="display:none;" th:text="${daysInMonth}"></div>

        <div class="var" id="dayOfMonth" style="display:none;" th:text="${dayOfMonth}"></div>

        <div class="var" id="userLocalDate" style="display:none;" th:text="${userLocalDate}"></div>

        <div class="var" id="month" th:text="${month}"></div>

        <br>

        <div class="grid" id="calendarGrid">
            <div class="calendarDay" id="day1">
                <div class="dateNumber" id="dateNumber1"></div>
            </div>
            <div class="calendarDay" id="day2">
                <div class="dateNumber" id="dateNumber2"></div>
            </div>
            <div class="calendarDay" id="day3">
                <div class="dateNumber" id="dateNumber3"></div>
            </div>
            <div class="calendarDay" id="day4">
                <div class="dateNumber" id="dateNumber4"></div>
            </div>
            <div class="calendarDay" id="day5">
                <div class="dateNumber" id="dateNumber5"></div>
            </div>
            <div class="calendarDay" id="day6">
                <div class="dateNumber" id="dateNumber6"></div>
            </div>
            <div class="calendarDay" id="day7">
                <div class="dateNumber" id="dateNumber7"></div>
            </div>
            <div class="calendarDay" id="day8">
                <div class="dateNumber" id="dateNumber8"></div>
            </div>
            <div class="calendarDay" id="day9">
                <div class="dateNumber" id="dateNumber9"></div>
            </div>
            <div class="calendarDay" id="day10">
                <div class="dateNumber" id="dateNumber10"></div>
            </div>
            <div class="calendarDay" id="day11">
                <div class="dateNumber" id="dateNumber11"></div>
            </div>
            <div class="calendarDay" id="day12">
                <div class="dateNumber" id="dateNumber12"></div>
            </div>
            <div class="calendarDay" id="day13">
                <div class="dateNumber" id="dateNumber13"></div>
            </div>
            <div class="calendarDay" id="day14">
                <div class="dateNumber" id="dateNumber14"></div>
            </div>
            <div class="calendarDay" id="day15">
                <div class="dateNumber" id="dateNumber15"></div>
            </div>
            <div class="calendarDay" id="day16">
                <div class="dateNumber" id="dateNumber16"></div>
            </div>
            <div class="calendarDay" id="day17">
                <div class="dateNumber" id="dateNumber17"></div>
            </div>
            <div class="calendarDay" id="day18">
                <div class="dateNumber" id="dateNumber18"></div>
            </div>
            <div class="calendarDay" id="day19">
                <div class="dateNumber" id="dateNumber19"></div>
            </div>
            <div class="calendarDay" id="day20">
                <div class="dateNumber" id="dateNumber20"></div>
            </div>
            <div class="calendarDay" id="day21">
                <div class="dateNumber" id="dateNumber21"></div>
            </div>
            <div class="calendarDay" id="day22">
                <div class="dateNumber" id="dateNumber22"></div>
            </div>
            <div class="calendarDay" id="day23">
                <div class="dateNumber" id="dateNumber23"></div>
            </div>
            <div class="calendarDay" id="day24">
                <div class="dateNumber" id="dateNumber24"></div>
            </div>
            <div class="calendarDay" id="day25">
                <div class="dateNumber" id="dateNumber25"></div>
            </div>
            <div class="calendarDay" id="day26">
                <div class="dateNumber" id="dateNumber26"></div>
            </div>
            <div class="calendarDay" id="day27">
                <div class="dateNumber" id="dateNumber27"></div>
            </div>
            <div class="calendarDay" id="day28">
                <div class="dateNumber" id="dateNumber28"></div>
            </div>
            <div class="calendarDay" id="day29">
                <div class="dateNumber" id="dateNumber29"></div>
            </div>
            <div class="calendarDay" id="day30">
                <div class="dateNumber" id="dateNumber30"></div>
            </div>
            <div class="calendarDay" id="day31">
                <div class="dateNumber" id="dateNumber31"></div>
            </div>

        </div>

    </div>

    <script src="js/calendar.js"></script>

    <div class="div4" id="taskList">
        <div id="currentTaskBar">Current task
        </div>

        <a id="newTaskButton" th:href="@{/newTask}" class="btn btn-primary">
            Add Task
        </a>

        <a href="#" id="finishTaskButton" class="btn btn-primary">
            Finish task
        </a>

    </div>

    <div class="div5" id="dailyJournal">

        <div class="var" id="journalEntry" style="display:none;" th:text="${journalEntry}"></div>
        <div class="var" id="journalEntry" style="display:none;" th:text="${journalEntry.id}"></div>
        <div class="var" id="journalEntry" style="display:none;" th:text="${journalEntry.text}"></div>

        <div id="dailyGeneratedSummary">
            <span class="generatedPart" id="genStart"></span>
            <span class="generatedPart" id="genMid"></span>
            <span class="generatedPart" id="genEnd"></span>
        </div>

        <form method="post" th:action="@{/saveEntry}" th:object="${journalEntry}">

            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{entryDate}"/>
            <input type="hidden" th:field="*{journal}"/>

            <textarea id="userJournalNotes" rows="10"
                      placeholder="### Daily Journal" th:field="*{text}">
            </textarea>

            <input type="submit" value="Save" id="saveEntryButton"/>
            
        </form>

        <script src="js/journal.js"></script>

    </div>

    <div class="div6" id="eventList">

        <a id="newEventButton" th:href="@{/newEvent}"
           class="btn btn-primary">
            Add Event
        </a>

        <script src="js/eventlist.js"></script>

    </div>

</div>

<div id="task-modal-bg">
    <div id="task-modal-content">

        <div id="task-modal-close">+</div>

        <div id="task-modal-title">Temp</div>

        <div class="var" id="userTasks" style="display:none;" th:text="${currentTask.id}"></div>

        <form method="PUT" th:action="@{/updateTask}" th:object="${currentTask}">

            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{name}">
            <input type="hidden" th:field="*{finished}"/>
            <input type="hidden" th:field="*{taskDate}"/>
            <input type="hidden" th:field="*{user}"/>

            <textarea id="task-modal-notes-input" cols="30" rows="5" th:field="*{note}"></textarea>

            <input type="submit" value="Finish" id="updateTaskButton"/>


        </form>

    </div>

    <script src="js/tasklist.js"></script>

</div>

</body>

</html>
