<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>produceDaily</title>

    <link href="css/main.css" rel="stylesheet" type="text/css">

</head>

<div id="dataContainer">

    <div class="var" id="daysInMonth" style="display:none;" th:text="${daysInMonth}"></div>
    <div class="var" id="dayOfMonth" style="display:none;" th:text="${dayOfMonth}"></div>
    <div class="var" id="month" style="display:none;" th:text="${month}"></div>
    <div class="var" id="userLocalDate" style="display:none;" th:text="${userLocalDate}"></div>
    <div class="var" id="username" style="display:none;" th:text="${username}"></div>
    <div class="var" id="userEvents" style="display:none;" th:text="${userEvents}"></div>
    <div class="var" id="allDailyUsergoals" style="display:none;" th:text="${allDailyUserGoals}"></div>
    <div class="var" id="unfinishedDailyUsergoals" style="display:none;" th:text="${unfinishedDailyUserGoals}"></div>
    <div class="var" id="journalEntry" style="display:none;" th:text="${journalEntry}"></div>
    <div class="var" id="journalEntryText" style="display:none;" th:text="${journalEntry.text}"></div>
    <div class="var" id="journalEntrySummary" style="display:none;" th:text="${journalEntry.goalSummary}"></div>
    <div class="var" id="event" style="display:none;" th:text="${event}"></div>
    <div class="var" id="goal" style="display:none;" th:text="${goal}"></div>


    <script th:inline="javascript">
        var userGoals = [[${allDailyUserGoals}]];
    </script>

</div>

<body>

<nav id="nav">
    <div class="projectTitle" id="titleContainer">
        <span class="projectTitle" id="titleProduce">produce</span><!--
        --><span class="projectTitle" id="titleDaily">Daily</span>
    </div>

    <form id="logoutForm" method="post" th:action="@{/logout}">
        <input id="logoutSubmit" type="submit" value="Logout"/>
    </form>

</nav>

<div class="parent">

    <div id="calendar">

        <div id="calendarHead">
            <div id="dateDisplay"></div>
            <div id="yearDesc"><span id="yearDescP1">Year of</span> <span id="yearDescP2">getting s*@# done!</span>
            </div>
        </div>

        <div class="grid" id="calendarGrid">

            <div class="calendarDay" id="day1">
                <div class="dateNumber" id="dateNumber1"></div>
            </div>
            <div class="calendarDay" id="day2">
                <div class="dateNumber" id="dateNumber2"></div>
            </div>
            <div class="calendarDay" id="day3">
                <div class="dateNumber" id="dateNumber3"></div>
            </div>
            <div class="calendarDay" id="day4">
                <div class="dateNumber" id="dateNumber4"></div>
            </div>
            <div class="calendarDay" id="day5">
                <div class="dateNumber" id="dateNumber5"></div>
            </div>
            <div class="calendarDay" id="day6">
                <div class="dateNumber" id="dateNumber6"></div>
            </div>
            <div class="calendarDay" id="day7">
                <div class="dateNumber" id="dateNumber7"></div>
            </div>
            <div class="calendarDay" id="day8">
                <div class="dateNumber" id="dateNumber8"></div>
            </div>
            <div class="calendarDay" id="day9">
                <div class="dateNumber" id="dateNumber9"></div>
            </div>
            <div class="calendarDay" id="day10">
                <div class="dateNumber" id="dateNumber10"></div>
            </div>
            <div class="calendarDay" id="day11">
                <div class="dateNumber" id="dateNumber11"></div>
            </div>
            <div class="calendarDay" id="day12">
                <div class="dateNumber" id="dateNumber12"></div>
            </div>
            <div class="calendarDay" id="day13">
                <div class="dateNumber" id="dateNumber13"></div>
            </div>
            <div class="calendarDay" id="day14">
                <div class="dateNumber" id="dateNumber14"></div>
            </div>
            <div class="calendarDay" id="day15">
                <div class="dateNumber" id="dateNumber15"></div>
            </div>
            <div class="calendarDay" id="day16">
                <div class="dateNumber" id="dateNumber16"></div>
            </div>
            <div class="calendarDay" id="day17">
                <div class="dateNumber" id="dateNumber17"></div>
            </div>
            <div class="calendarDay" id="day18">
                <div class="dateNumber" id="dateNumber18"></div>
            </div>
            <div class="calendarDay" id="day19">
                <div class="dateNumber" id="dateNumber19"></div>
            </div>
            <div class="calendarDay" id="day20">
                <div class="dateNumber" id="dateNumber20"></div>
            </div>
            <div class="calendarDay" id="day21">
                <div class="dateNumber" id="dateNumber21"></div>
            </div>
            <div class="calendarDay" id="day22">
                <div class="dateNumber" id="dateNumber22"></div>
            </div>
            <div class="calendarDay" id="day23">
                <div class="dateNumber" id="dateNumber23"></div>
            </div>
            <div class="calendarDay" id="day24">
                <div class="dateNumber" id="dateNumber24"></div>
            </div>
            <div class="calendarDay" id="day25">
                <div class="dateNumber" id="dateNumber25"></div>
            </div>
            <div class="calendarDay" id="day26">
                <div class="dateNumber" id="dateNumber26"></div>
            </div>
            <div class="calendarDay" id="day27">
                <div class="dateNumber" id="dateNumber27"></div>
            </div>
            <div class="calendarDay" id="day28">
                <div class="dateNumber" id="dateNumber28"></div>
            </div>
            <div class="calendarDay" id="day29">
                <div class="dateNumber" id="dateNumber29"></div>
            </div>
            <div class="calendarDay" id="day30">
                <div class="dateNumber" id="dateNumber30"></div>
            </div>
            <div class="calendarDay" id="day31">
                <div class="dateNumber" id="dateNumber31"></div>
            </div>

        </div>

    </div>

    <div id="currentGoalBar">

        <button class="button" id="newGoalButton" onclick="openModal('goalForm')">New Goal</button>


        <a href="#" id="finishGoalButton">
            Finish Goal
        </a>

        <button class="button" id="newEventButton" onclick="openModal('eventForm')">New Event</button>

    </div>

    <div id="contentContainer">

        <div id="navTabs">
            <div id="tabs">
                <span id="tab1" onclick="onClickJournal()">Journal</span>
                <span id="tab2" onclick="onClickGoalList()">Goal List</span>
                <span id="tab3" onclick="onClickEventList()">Event List</span></div>
            <div id="navFooter"></div>
        </div>

        <div id="journal">

            <div id="dailyGeneratedSummary">
                <span class="generatedPart" id="genStart"></span>
                <span class="generatedPart" id="genMid"></span>
                <span class="generatedPart" id="genEnd"></span>
            </div>

            <form id="journalEntryForm" method="post" th:action="@{/saveEntry}" th:object="${journalEntry}">

                <div id="dailyGoalSummary" th:text="${journalEntry.goalSummary}"></div>

                <input th:field="*{id}" type="hidden">
                <input th:field="*{entryDate}" type="hidden"/>
                <input th:field="*{goalSummary}" type="hidden"/>
                <input th:field="*{journal}" type="hidden"/>

                <textarea id="userJournalNotes" placeholder="### Daily Journal - Thoughts & feelings about today's happenings can go here"
                          rows="10"
                          th:field="*{text}">
              </textarea>

                <input class="button" id="saveEntryButton" type="submit" value="Save"/>

            </form>

        </div>

        <div id="goalList">

        </div>

        <div id="eventList">

        </div>

    </div>


</div>

<div id="goal-modal-bg">
    <div id="goal-modal-content">

        <div id="goal-modal-close" onclick="closeModal()">+</div>

        <form id="goalForm" method="POST" th:action="@{/saveGoal}" th:object="${goal}">

            <fieldset class="formFieldSet">
                <legend class="formTitle">Add New Goal</legend>
                <div id="goalName" class="formField">
                    <label for="goalNameInput" class="formFieldHead">Goal Name</label>
                    <input class="formFieldInput" id="goalNameInput" placeholder="Enter goal name" required
                           th:field="*{name}" type="text">
                </div>

                <input class="button submitForm" id="submitNewgoal" type="submit" value="Add Goal"/>

            </fieldset>

        </form>

        <form id="eventForm" method="POST" th:action="@{/saveEvent}" th:object="${event}">


            <fieldset class="formFieldSet">

                <legend class="formTitle">Add New Event</legend>
                <div id="eventName" class="formField">
                    <label for="eventNameInput" class="formFieldHead">Event Name</label>
                    <input class="formFieldInput" id="eventNameInput" placeholder="Enter event name" required
                           th:field="*{name}" type="text">
                </div>

                <div id="eventDesc" class="formField">
                    <label for="eventDescInput" class="formFieldHead">Event Description</label>
                    <input class="formFieldInput" id="eventDescInput" placeholder="Enter event description (Optional)"
                           th:field="*{description}" type="text">
                </div>

                <div id="eventDate" class="formField">
                    <label for="eventDateInput" class="formFieldHead">Date of Event</label>
                    <input class="formFieldInput" id="eventDateInput" placeholder="Enter event date" required
                           th:field="*{eventDate}" type="text" >
                </div>

                <input class="button submitForm" type="submit" value="Add Event"/>

            </fieldset>

        </form>


    </div>

</div>

</body>

<div id="scripts">
    <script src="js/calendar.js"></script>
    <script src="js/goallist.js"></script>
    <script src="js/eventlist.js"></script>
    <script src="js/journal.js"></script>
    <script src="js/modal.js"></script>

</div>

</html>
