<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">

    <link href="index.css" rel="stylesheet" type="text/css">

    <script crossorigin="anonymous"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="js/calendar.js"></script>

</head>

<body>

<div class="parent">

    <div class="div1">

        <div class="var" id="userEvents" style="display:none;" th:text="${userEvents}"></div>

        <div class="var" id="userTasks" style="display:none;" th:text="${userTasks}"></div>

        <a id="newEventButton" th:href="@{/newEvent}"
           class="btn btn-primary">
            Add Event
        </a>

        <a id="newTaskButton" th:href="@{/newTask}"
           class="btn btn-primary">
            Add Task
        </a>

        <div class="container">
            <form id="logoutForm" method="post" th:action="@{/logout}">
                <input class="btn btn-primary" type="submit" value="Logout"/>
            </form>
        </div>

    </div>

    <div class="div2">
    </div>

    <div class="div3" id="calendar">

        <div class="var" id="daysInMonth" style="display:none;" th:text="${daysInMonth}"></div>

        <div class="var" id="dayOfMonth" style="display:none;" th:text="${dayOfMonth}"></div>

        <div class="var" id="userLocalDate" style="display:none;" th:text="${userLocalDate}"></div>

        <div class="var" id="month" th:text="${month}"></div>

        <br>

        <div class="grid" id="calendarGrid">
            <div class="calendarDay" id="day1">
            </div>
            <div class="calendarDay" id="day2">
                <div class="eventInfo" id="eventInfo2"></div>
            </div>
            <div class="calendarDay" id="day3">
                <div class="eventInfo" id="eventInfo3"></div>
            </div>
            <div class="calendarDay" id="day4">
                <div class="eventInfo" id="eventInfo4"></div>
            </div>
            <div class="calendarDay" id="day5">
                <div class="eventInfo" id="eventInfo5"></div>
            </div>
            <div class="calendarDay" id="day6">
                <div class="eventInfo" id="eventInfo6"></div>
            </div>
            <div class="calendarDay" id="day7">
                <div class="eventInfo" id="eventInfo7"></div>
            </div>
            <div class="calendarDay" id="day8">
                <div class="eventInfo" id="eventInfo8"></div>
            </div>
            <div class="calendarDay" id="day9">
                <div class="eventInfo" id="eventInfo9"></div>
            </div>
            <div class="calendarDay" id="day10">
                <div class="eventInfo" id="eventInfo10"></div>
            </div>
            <div class="calendarDay" id="day11">
                <div class="eventInfo" id="eventInfo11"></div>
            </div>
            <div class="calendarDay" id="day12">
                <div class="eventInfo" id="eventInfo12"></div>
            </div>
            <div class="calendarDay" id="day13">
                <div class="eventInfo" id="eventInfo13"></div>
            </div>
            <div class="calendarDay" id="day14">
                <div class="eventInfo" id="eventInfo14"></div>
            </div>
            <div class="calendarDay" id="day15">
                <div class="eventInfo" id="eventInfo15"></div>
            </div>
            <div class="calendarDay" id="day16">
                <div class="eventInfo" id="eventInfo16"></div>
            </div>
            <div class="calendarDay" id="day17">
                <div class="eventInfo" id="eventInfo17"></div>
            </div>
            <div class="calendarDay" id="day18">
                <div class="eventInfo" id="eventInfo18"></div>
            </div>
            <div class="calendarDay" id="day19">
                <div class="eventInfo" id="eventInfo19"></div>
            </div>
            <div class="calendarDay" id="day20">
                <div class="eventInfo" id="eventInfo20"></div>
            </div>
            <div class="calendarDay" id="day21">
                <div class="eventInfo" id="eventInfo21"></div>
            </div>
            <div class="calendarDay" id="day22">
                <div class="eventInfo" id="eventInfo22"></div>
            </div>
            <div class="calendarDay" id="day23">
                <div class="eventInfo" id="eventInfo23"></div>
            </div>
            <div class="calendarDay" id="day24">
                <div class="eventInfo" id="eventInfo24"></div>
            </div>
            <div class="calendarDay" id="day25">
                <div class="eventInfo" id="eventInfo25"></div>
            </div>
            <div class="calendarDay" id="day26">
                <div class="eventInfo" id="eventInfo26"></div>
            </div>
            <div class="calendarDay" id="day27">
                <div class="eventInfo" id="eventInfo27"></div>
            </div>
            <div class="calendarDay" id="day28">
                <div class="eventInfo" id="eventInfo28"></div>
            </div>
            <div class="calendarDay" id="day29">
                <div class="eventInfo" id="eventInfo29"></div>
            </div>
            <div class="calendarDay" id="day30">
                <div class="eventInfo" id="eventInfo30"></div>
            </div>
            <div class="calendarDay" id="day31">
                <div class="eventInfo" id="eventInfo31"></div>
            </div>
            <div class="calendarDay" id="day32">
                <div></div>
            </div>
            <div class="calendarDay" id="day33">
                <div></div>
            </div>
            <div class="calendarDay" id="day34">
                <div></div>
            </div>
            <div class="calendarDay" id="day35">
                <div></div>
            </div>

        </div>

    </div>

    <script src="js/calendar.js"></script>

    <div class="div4" id="taskList">
        <div id="currentTaskBar">Current task</div>
    </div>

    <div class="div5"></div>

    <div class="div6" id="eventList">

        <script src="js/eventlist.js"></script>

        <script src="js/tasklist.js"></script>


    </div>
</div>

</body>

</html>
