<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>

<body>
    <div class="container">

        <div>
            <h1>Welcome to produceDaily</h1>
        </div>
        <div>
            <br>
            <h3><a th:href="@{/login}">login</a></h3>
            <h3><a th:href="@{/register}">Register</a></h3>
        </div>

    </div>

</body>

</html>