<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="index.css" rel="stylesheet" type="text/css">

</head>

<body>

<div class="container">
    <form th:action="@{/logout}" method="post" id="logoutForm">
        <input class="btn btn-primary" type="submit" value="Logout" />
    </form>
</div>

<a th:href="@{/home}">Home</a>

<a th:href="@{/new-home}">Home</a>

</div>

</body>

</html>
