<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">

    <link href="css/loginstyle.css" rel="stylesheet" type="text/css">

    <script crossorigin="anonymous"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<section>

    <div class="container">
        <div class="card">
            <div class="card-body">

                <form method="POST"
                      th:action="@{/authenticateUser}">

                    <fieldset>
                        <legend>Sign In</legend>

                        <div class="mb-3">
                            <div class="col-xs-15">
                                <div>

                                    <div class="alert alert-danger col-xs-offset-1 col-xs-10" th:if="${param.error}">
                                        Invalid username and password combination.
                                    </div>

                                    <div class="alert alert-success col-xs-offset-1 col-xs-10" th:if="${param.logout}">
                                        You have been logged out.
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="usernameInput">Username</label>
                            <input aria-describedby="usernameHelp" class="form-control" id="usernameInput" name="username"
                                   placeholder="Enter username" type="text" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="passwordInput">Password</label>
                            <input class="form-control" id="passwordInput" name="password"
                                   placeholder="Enter password" type="password" required>
                        </div>

                        <button class="btn btn-primary" type="submit">Login</button>

                    </fieldset>

                    <br>

                    <a th:href="@{/register}">Register</a>

                </form>

            </div>
        </div>
    </div>
</section>
</body>

</html>